In [2]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df = df.reset_index()
######################################################
# This is to add a column. You make a series and then add it to the column
df['Date'] = pd.Series({0: 'May',1: 'December'}) 
df

     index   Name Item Purchased  Cost      Date
0  Store 1  Chris       Dog Food  22.5       May
1  Store 1  Kevyn   Kitty Litter   2.5  December
2  Store 2  Vinod      Bird Seed   5.0       NaN

In [17]:
# Apply
# Is a method that goes across all your rows and applies any function you want
df = pd.read_csv('./CSV Files/census.csv')
df.set_index(['STNAME','CTYNAME'], inplace = True)
print(df.head())
import numpy as np

def min_max(row):
    data = row[[
        'POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015',
    ]]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})
# So to apply across all rows you do axis = 1
# print(df.apply(min_max, axis = 1))
######################################################
print('*1*')
def min_max(row):
    data = row[[
        'POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015',
    ]]
    row['min'] = np.min(data)
    row['max'] = np.max(data)
    return row
# By this method you can add extra data to the existing df
# print(df.apply(min_max, axis = 1))
######################################################
print('*2*')
row = ['POPESTIMATE2010',
    'POPESTIMATE2011',
    'POPESTIMATE2012',
    'POPESTIMATE2013',
    'POPESTIMATE2014',
    'POPESTIMATE2015']
# How to use lamda function with the apply feature
df.apply(lambda x: np.sum(x[row]), axis =1)

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Alabama             40       3         6      1       0
        Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Alabama               4779736            4780127          4785161
        Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861

                        POPESTIMATE2011  POPESTIMATE2012     ...       \
STNAME  CTYNAME                                              ...
Alabama Alabama                 4801108          4816089     ...
        Autauga County            55253            55175     ...
        Baldwin County           186659           190396     ...
        Barbour County            27226            27159     ...
        Bibb County               22733            22642     ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Alabama                 0.002295         -0.193196          0.381066
        Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Alabama                 0.582002         -0.467369     1.030015
        Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Alabama            0.826644     1.383282     1.724718     0.712594
        Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861

[5 rows x 98 columns]
*1*
*2*

STNAME     CTYNAME
Alabama    Alabama               28938281.0
           Autauga County          330763.0
           Baldwin County         1158796.0
           Barbour County          162003.0
           Bibb County             135880.0
           Blount County           345925.0
           Bullock County           64275.0
           Butler County           122716.0
           Calhoun County          701679.0
           Chambers County         204494.0
           Cherokee County         156017.0
           Chilton County          262760.0
           Choctaw County           80814.0
           Clarke County           151119.0
           Clay County              81566.0
           Cleburne County          89983.0
           Coffee County           304595.0
           Colbert County          326734.0
           Conecuh County           77534.0
           Coosa County             66891.0
           Covington County        227227.0
           Crenshaw County          83543.0
           Cullman County          485298.0
           Dale County             299690.0
           Dallas County           254572.0
           DeKalb County           426482.0
           Elmore County           483282.0
           Escambia County         227986.0
           Etowah County           623274.0
           Fayette County          101711.0
                                    ...
Wisconsin  Washington County       796574.0
           Waukesha County        2359442.0
           Waupaca County          313045.0
           Waushara County         146109.0
           Winnebago County       1012077.0
           Wood County             444866.0
Wyoming    Wyoming                3462906.0
           Albany County           224253.0
           Big Horn County          71145.0
           Campbell County         286309.0
           Carbon County            94534.0
           Converse County          84330.0
           Crook County             43259.0
           Fremont County          243998.0
           Goshen County            81128.0
           Hot Springs County       28857.0
           Johnson County           51583.0
           Laramie County          569424.0
           Lincoln County          109670.0
           Natrona County          475528.0
           Niobrara County          15072.0
           Park County             173186.0
           Platte County            52427.0
           Sheridan County         177838.0
           Sublette County          60828.0
           Sweetwater County       267451.0
           Teton County            132853.0
           Uinta County            125750.0
           Washakie County          50544.0
           Weston County            42939.0
Length: 3193, dtype: float64

In [31]:
# Group By
df = pd.read_csv('./CSV Files/census.csv')
df = df[df['SUMLEV']==50]
df.head()
######################################################
for state in df['STNAME'].unique():
    avg = np.average(df[df['STNAME']==state].dropna()['CENSUS2010POP'])
    print("Countries in state"+state+"has an avg population of"+str(avg))
######################################################
# Or can be done by the Group By method which comines all the same entries together
# Group takes all the unique ids or whatever group you have chosen
# Frame is the data frame of that group
for group, frame in df.groupby('STNAME'):
#     print(frame[['REGION','COUNTY']])
    avg= np.average(frame['CENSUS2010POP'])
    print("Countries in state "+ group +"has an avg population of"+str(avg))
######################################################  
# group by a function by setting the column you need as index
df = df.set_index('STNAME')
def func(item):
    if(item[0] < 'M'):
        return 0
    if(item[0] < 'V'):
        return 1
    return 2
for group, frame in df.groupby(func):
    print("There are" + str(len(frame)) + " records in group " str(group))
######################################################
# In agg you pass in a dictionary name the columns 
# you want and after the : the function you want to apply
df.groupby('STNAME').agg({'CENSUS2010POP':np.average})

# NOTE: V good examples of group by in customers.ipynb with explanation

                      CENSUS2010POP
STNAME
Alabama                71339.343284
Alaska                 24490.724138
Arizona               426134.466667
Arkansas               38878.906667
California            642309.586207
Colorado               78581.187500
Connecticut           446762.125000
Delaware              299311.333333
District of Columbia  601723.000000
Florida               280616.567164
Georgia                60928.635220
Hawaii                272060.200000
Idaho                  35626.863636
Illinois              125790.509804
Indiana                70476.108696
Iowa                   30771.262626
Kansas                 27172.552381
Kentucky               36161.391667
Louisiana              70833.937500
Maine                  83022.562500
Maryland              240564.666667
Massachusetts         467687.785714
Michigan              119080.000000
Minnesota              60964.655172
Mississippi            36186.548780
Missouri               52077.626087
Montana                17668.125000
Nebraska               19638.075269
Nevada                158855.941176
New Hampshire         131647.000000
New Jersey            418661.619048
New Mexico             62399.363636
New York              312550.032258
North Carolina         95354.830000
North Dakota           12690.396226
Ohio                  131096.636364
Oklahoma               48718.844156
Oregon                106418.722222
Pennsylvania          189587.746269
Rhode Island          210513.400000
South Carolina        100551.391304
South Dakota           12336.060606
Tennessee              66801.105263
Texas                  98998.271654
Utah                   95306.379310
Vermont                44695.785714
Virginia               60111.293233
Washington            172424.102564
West Virginia          33690.800000
Wisconsin              78985.916667
Wyoming                24505.478261

In [69]:
for group, frame in df.groupby('STNAME'):
#     print(frame[['REGION','COUNTY']])
    print(frame['CENSUS2010POP'][frame['CENSUS2010POP']>25000])

STNAME
Alabama     54571
Alabama    182265
Alabama     27457
Alabama     57322
Alabama    118572
Alabama     34215
Alabama     25989
Alabama     43643
Alabama     25833
Alabama     49948
Alabama     54428
Alabama     37765
Alabama     80406
Alabama     50251
Alabama     43820
Alabama     71109
Alabama     79303
Alabama     38319
Alabama    104430
Alabama     31704
Alabama     26790
Alabama    101547
Alabama     53227
Alabama    658466
Alabama     92709
Alabama     34339
Alabama    140247
Alabama     82782
Alabama    334811
Alabama     30776
Alabama     93019
Alabama    412992
Alabama    229363
Alabama    119490
Alabama     32899
Alabama     52947
Alabama     83593
Alabama    195085
Alabama     82291
Alabama     41616
Alabama    194656
Alabama     67023
Name: CENSUS2010POP, dtype: int64
STNAME
Alaska    291826
Alaska     97581
Alaska     31275
Alaska     55400
Alaska     88995
Name: CENSUS2010POP, dtype: int64
STNAME
Arizona      71518
Arizona     131346
Arizona     134421
Arizona      53597
Arizona      37220
Arizona    3817117
Arizona     200186
Arizona     107449
Arizona     980263
Arizona     375770
Arizona      47420
Arizona     211033
Arizona     195751
Name: CENSUS2010POP, dtype: int64
STNAME
Arkansas     41513
Arkansas    221339
Arkansas     36903
Arkansas     27446
Arkansas     25970
Arkansas     96443
Arkansas     61948
Arkansas     50902
Arkansas    113237
Arkansas     96024
Arkansas     42090
Arkansas     32923
Arkansas     36647
Arkansas     77435
Arkansas     25540
Arkansas     68356
Arkansas     43462
Arkansas     46480
Arkansas     26120
Arkansas     61754
Arkansas    382748
Arkansas     28258
Arkansas    107118
Arkansas    125744
Arkansas     41639
Arkansas    203065
Arkansas     77076
Name: CENSUS2010POP, dtype: int64
STNAME
California    1510271
California      38091
California     220000
California      45578
California    1049025
California      28610
California     181058
California     930450
California      28122
California     134623
California     174528
California     839631
California     152982
California      64665
California      34895
California    9818605
California     150865
California     252409
California      87841
California     255793
California     415057
California     136484
California      98764
California    3010232
California     348432
California    2189641
California    1418788
California      55269
California    2035210
California    3095313
California     805235
California     685306
California     269637
California     718451
California     423895
California    1781642
California     262382
California     177223
California      44900
California     413344
California     483878
California     514453
California      94737
California      63463
California     442179
California      55365
California     823318
California     200849
California      72155
Name: CENSUS2010POP, dtype: int64
STNAME
Colorado    441603
Colorado    572003
Colorado    294567
Colorado     55889
Colorado     30952
Colorado    600158
Colorado    285465
Colorado     52197
Colorado    622263
Colorado     46824
Colorado     56389
Colorado    534543
Colorado     51334
Colorado    299630
Colorado    146723
Colorado     25535
Colorado     41276
Colorado     28159
Colorado    159063
Colorado     27994
Colorado    252825
Name: CENSUS2010POP, dtype: int64
STNAME
Connecticut    916829
Connecticut    894014
Connecticut    189927
Connecticut    165676
Connecticut    862477
Connecticut    274055
Connecticut    152691
Connecticut    118428
Name: CENSUS2010POP, dtype: int64
STNAME
Delaware    162310
Delaware    538479
Delaware    197145
Name: CENSUS2010POP, dtype: int64
STNAME
District of Columbia    601723
Name: CENSUS2010POP, dtype: int64
STNAME
Florida     247336
Florida      27115
Florida     168852
Florida      28520
Florida     543376
Florida    1748066
Florida     159978
Florida     141236
Florida     190865
Florida     321520
Florida      67531
Florida      34862
Florida     864263
Florida     297619
Florida      95696
Florida      46389
Florida      27731
Florida      39140
Florida     172778
Florida      98786
Florida    1229226
Florida     138028
Florida      49746
Florida     297052
Florida     618754
Florida     275487
Florida      40801
Florida     322833
Florida     331298
Florida     146318
Florida    2496435
Florida      73090
Florida      73314
Florida     180822
Florida      39996
Florida    1145956
Florida     268685
Florida    1320134
Florida     464697
Florida     916542
Florida     602095
Florida      74364
Florida     190039
Florida     277789
Florida     151372
Florida     379448
Florida     422718
Florida      93420
Florida      41551
Florida     494593
Florida      30776
Florida      55043
Name: CENSUS2010POP, dtype: int64
STNAME
Georgia     45720
Georgia     69367
Georgia    100157
Georgia    155547
Georgia     30233
Georgia     70217
Georgia     50513
Georgia    110527
Georgia     63942
Georgia    265128
Georgia     26015
Georgia    214346
Georgia    116714
Georgia    259424
Georgia    688078
Georgia     42356
Georgia     45498
Georgia    124053
Georgia    127317
Georgia     27842
Georgia    691893
Georgia     94565
Georgia    132403
Georgia     52250
Georgia    106567
Georgia     96317
Georgia    175511
Georgia    920581
Georgia     28292
Georgia     79626
            ...
Georgia     63453
Georgia    109233
Georgia     29966
Georgia     28120
Georgia     26424
Georgia     39628
Georgia    189885
Georgia     99958
Georgia     32808
Georgia    142324
Georgia     27695
Georgia     29431
Georgia     41475
Georgia    200549
Georgia     85215
Georgia     64073
Georgia     26175
Georgia     32819
Georgia     25520
Georgia     44720
Georgia     40118
Georgia     27223
Georgia     67044
Georgia     27153
Georgia     68756
Georgia     83768
Georgia     36312
Georgia     30099
Georgia     27144
Georgia    102599
Name: CENSUS2010POP, Length: 74, dtype: int64
STNAME
Hawaii    185079
Hawaii    953207
Hawaii     67091
Hawaii    154834
Name: CENSUS2010POP, dtype: int64
STNAME
Idaho    392365
Idaho     82839
Idaho     45607
Idaho     40877
Idaho    104234
Idaho    188923
Idaho     27038
Idaho     26140
Idaho    138494
Idaho     37244
Idaho     37536
Idaho     39265
Idaho     77230
Name: CENSUS2010POP, dtype: int64
STNAME
Illinois      67103
Illinois      54165
Illinois      34978
Illinois     201081
Illinois      34800
Illinois      37762
Illinois      53873
Illinois    5194675
Illinois     105160
Illinois     916924
Illinois      34242
Illinois      39561
Illinois      37069
Illinois      50063
Illinois      50486
Illinois      29718
Illinois      60218
Illinois      38827
Illinois     515269
Illinois     113449
Illinois     114736
Illinois      52919
Illinois     703462
Illinois     113924
Illinois      36031
Illinois      38950
Illinois      30305
Illinois      32612
Illinois     308760
Illinois     169572
Illinois     110768
Illinois      47765
Illinois     269282
Illinois      39437
Illinois      32957
Illinois      30104
Illinois      35547
Illinois      53497
Illinois     186494
Illinois      33476
Illinois     147546
Illinois     270056
Illinois     197465
Illinois      47711
Illinois     135394
Illinois      81625
Illinois      58498
Illinois     677560
Illinois      66357
Illinois     295266
Illinois      38664
Name: CENSUS2010POP, dtype: int64
STNAME
Indiana     34387
Indiana    355329
Indiana     76794
Indiana     56640
Indiana     38966
Indiana    110232
Indiana     26890
Indiana     33224
Indiana     31648
Indiana     50047
Indiana     25740
Indiana     42223
Indiana    117671
Indiana     41889
Indiana    197559
Indiana     74578
Indiana     33503
Indiana     70061
Indiana     33165
Indiana    274569
Indiana     70002
Indiana     39364
Indiana    145448
Indiana     49462
Indiana     82752
Indiana     37124
Indiana     42376
Indiana     33478
Indiana     32428
Indiana     28525
            ...
Indiana     77358
Indiana     37128
Indiana    496005
Indiana    111467
Indiana     46134
Indiana    131636
Indiana    903393
Indiana     47051
Indiana     36903
Indiana    137974
Indiana     38124
Indiana     68894
Indiana     47536
Indiana    164343
Indiana     25910
Indiana     37963
Indiana     26171
Indiana     28818
Indiana    266931
Indiana     44436
Indiana     34185
Indiana    172780
Indiana    179703
Indiana    107848
Indiana     32888
Indiana     59689
Indiana     28262
Indiana     68917
Indiana     27636
Indiana     33292
Name: CENSUS2010POP, Length: 62, dtype: int64
STNAME
Iowa     26076
Iowa    131090
Iowa     26306
Iowa     44151
Iowa     49116
Iowa     66135
Iowa     40325
Iowa     93653
Iowa     36842
Iowa    130882
Iowa     35862
Iowa    211226
Iowa     33309
Iowa     40648
Iowa     42745
Iowa    430640
Iowa     93158
Iowa    165224
Iowa     33704
Iowa     89542
Iowa     35625
Iowa     46225
Iowa     38013
Iowa    102172
Name: CENSUS2010POP, dtype: int64
STNAME
Kansas     27674
Kansas     65880
Kansas     36311
Kansas     39134
Kansas    110826
Kansas     28452
Kansas     36776
Kansas     33848
Kansas     25992
Kansas     34362
Kansas     34684
Kansas    544179
Kansas     76227
Kansas     33690
Kansas     29180
Kansas     32787
Kansas     35471
Kansas     64511
Kansas     71115
Kansas     55606
Kansas    498365
Kansas    177934
Kansas    157505
Name: CENSUS2010POP, dtype: int64
STNAME
Kentucky     42173
Kentucky     28691
Kentucky    118811
Kentucky     49542
Kentucky     28432
Kentucky     74319
Kentucky     37191
Kentucky     90336
Kentucky     27720
Kentucky     73955
Kentucky     35613
Kentucky     96656
Kentucky    295803
Kentucky     39451
Kentucky     49285
Kentucky     37121
Kentucky     25746
Kentucky     36910
Kentucky    105543
Kentucky     29278
Kentucky     46250
Kentucky     46920
Kentucky    741096
Kentucky     48586
Kentucky    159720
Kentucky     31883
Kentucky     58849
Kentucky     26835
Kentucky     65565
Kentucky     82916
Kentucky     31448
Kentucky     28602
Kentucky     26499
Kentucky     31499
Kentucky     43437
Kentucky     60316
Kentucky     28712
Kentucky     65024
Kentucky     63063
Kentucky     47173
Kentucky     42074
Kentucky    113792
Kentucky     35637
Name: CENSUS2010POP, dtype: int64
STNAME
Louisiana     61773
Louisiana     25764
Louisiana    107215
Louisiana     42073
Louisiana     35654
Louisiana    116979
Louisiana    254969
Louisiana    192768
Louisiana     26656
Louisiana    440171
Louisiana     33984
Louisiana     73240
Louisiana     33387
Louisiana    432552
Louisiana     31594
Louisiana    221578
Louisiana     96318
Louisiana     46735
Louisiana    128026
Louisiana     27979
Louisiana     39566
Louisiana    343829
Louisiana    153720
Louisiana    131613
Louisiana     35897
Louisiana     52780
Louisiana     45924
Louisiana     83384
Louisiana     52160
Louisiana     54650
Louisiana    233740
Louisiana    121097
Louisiana    111860
Louisiana     57999
Louisiana     52334
Louisiana     47168
Louisiana     41207
Name: CENSUS2010POP, dtype: int64
STNAME
Maine    107702
Maine     71870
Maine    281674
Maine     30768
Maine     54418
Maine    122151
Maine     39736
Maine     34457
Maine     57833
Maine    153923
Maine     35293
Maine     52228
Maine     38786
Maine     32856
Maine    197131
Name: CENSUS2010POP, dtype: int64
STNAME
Maryland     75087
Maryland    537656
Maryland    805029
Maryland     88737
Maryland     33066
Maryland    167134
Maryland    101108
Maryland    146551
Maryland     32618
Maryland    233385
Maryland     30097
Maryland    244826
Maryland    287085
Maryland    971777
Maryland    863420
Maryland     47798
Maryland    105151
Maryland     26470
Maryland     37782
Maryland    147430
Maryland     98733
Maryland     51454
Maryland    620961
Name: CENSUS2010POP, dtype: int64
STNAME
Massachusetts     215888
Massachusetts     131219
Massachusetts     548285
Massachusetts     743159
Massachusetts      71372
Massachusetts     463490
Massachusetts     158080
Massachusetts    1503085
Massachusetts     670850
Massachusetts     494919
Massachusetts     722023
Massachusetts     798552
Name: CENSUS2010POP, dtype: int64
STNAME
Michigan     111408
Michigan      29598
Michigan      59173
Michigan     107771
Michigan     156813
Michigan      45248
Michigan     136146
Michigan      52293
Michigan      25949
Michigan      26152
Michigan      38520
Michigan      30926
Michigan      75382
Michigan      37069
Michigan      26168
Michigan     107759
Michigan      32694
Michigan     425790
Michigan      25692
Michigan      86986
Michigan      42476
Michigan      46688
Michigan      36628
Michigan      33118
Michigan     280895
Michigan      63905
Michigan      25887
Michigan      70311
Michigan     160248
Michigan     250331
Michigan     602622
Michigan      88319
Michigan      99892
Michigan     180967
Michigan     840978
Michigan      67077
Michigan      28705
Michigan      42798
Michigan      83629
Michigan     152021
Michigan      63342
Michigan     172188
Michigan      48460
Michigan    1202362
Michigan      26570
Michigan     263801
Michigan     200169
Michigan     163040
Michigan      61295
Michigan      43114
Michigan      70648
Michigan      55729
Michigan      76258
Michigan     344791
Michigan    1820584
Michigan      32735
Name: CENSUS2010POP, dtype: int64
STNAME
Minnesota     330844
Minnesota      32504
Minnesota      44442
Minnesota      38451
Minnesota      64013
Minnesota      25893
Minnesota      35386
Minnesota      91042
Minnesota      28567
Minnesota      53887
Minnesota      58999
Minnesota      62500
Minnesota     398552
Minnesota      36009
Minnesota      31255
Minnesota      46183
Minnesota    1152425
Minnesota      37816
Minnesota      45058
Minnesota      42239
Minnesota      27703
Minnesota      25857
Minnesota      36651
Minnesota      26097
Minnesota      33198
Minnesota      39163
Minnesota      32727
Minnesota     144248
Minnesota      57303
Minnesota      29750
Minnesota      31600
Minnesota     508640
Minnesota      64142
Minnesota     200226
Minnesota     129928
Minnesota      88499
Minnesota     150642
Minnesota      36576
Minnesota     238136
Minnesota      51461
Minnesota     124700
Name: CENSUS2010POP, dtype: int64
STNAME
Mississippi     32297
Mississippi     37057
Mississippi     34145
Mississippi     26151
Mississippi     29449
Mississippi    161252
Mississippi     74934
Mississippi     43929
Mississippi    187105
Mississippi    245285
Mississippi    139668
Mississippi     67761
Mississippi     47351
Mississippi     55658
Mississippi     80261
Mississippi     82910
Mississippi     32317
Mississippi     34869
Mississippi     59779
Mississippi     95203
Mississippi     27088
Mississippi     37144
Mississippi     36989
Mississippi     29676
Mississippi     47671
Mississippi     34707
Mississippi     55834
Mississippi     40404
Mississippi     29957
Mississippi     25276
Mississippi    141617
Mississippi     28264
Mississippi     27503
Mississippi     29450
Mississippi     28886
Mississippi     27134
Mississippi     48773
Mississippi     51137
Mississippi     28065
Name: CENSUS2010POP, dtype: int64
STNAME
Missouri     25607
Missouri     25529
Missouri     35597
Missouri    162642
Missouri     89201
Missouri     42794
Missouri     44332
Missouri     44002
Missouri     75674
Missouri     99478
Missouri     77422
Missouri    221939
Missouri     75990
Missouri     31953
Missouri    101492
Missouri    275174
Missouri     40400
Missouri    674158
Missouri    117404
Missouri    218733
Missouri     52595
Missouri     35571
Missouri     33381
Missouri     38634
Missouri     52566
Missouri     28781
Missouri     58114
Missouri     42201
Missouri     45156
Missouri     89322
Missouri     31137
Missouri     52274
Missouri     25414
Missouri    360485
Missouri     65359
Missouri    998954
Missouri     39191
Missouri     29968
Missouri     32202
Missouri     51675
Missouri     26008
Missouri     32513
Missouri     25195
Missouri     36202
Missouri    319294
Name: CENSUS2010POP, dtype: int64
STNAME
Montana     81327
Montana     90928
Montana     89513
Montana     28746
Montana     63395
Montana    109299
Montana     40212
Montana     34200
Montana    147972
Name: CENSUS2010POP, dtype: int64
STNAME
Nebraska     31364
Nebraska     46102
Nebraska     25241
Nebraska     36691
Nebraska    517110
Nebraska     58607
Nebraska    285407
Nebraska     36288
Nebraska     34876
Nebraska     32237
Nebraska    158840
Nebraska     36970
Name: CENSUS2010POP, dtype: int64
STNAME
Nevada    1951269
Nevada      46997
Nevada      48818
Nevada      51980
Nevada      43946
Nevada     421407
Nevada      55274
Name: CENSUS2010POP, dtype: int64
STNAME
New Hampshire     60088
New Hampshire     47818
New Hampshire     77117
New Hampshire     33055
New Hampshire     89118
New Hampshire    400721
New Hampshire    146445
New Hampshire    295223
New Hampshire    123143
New Hampshire     43742
Name: CENSUS2010POP, dtype: int64

STNAME
New Jersey    274549
New Jersey    905116
New Jersey    448734
New Jersey    513657
New Jersey     97265
New Jersey    156898
New Jersey    783969
New Jersey    288288
New Jersey    634266
New Jersey    128349
New Jersey    366513
New Jersey    809858
New Jersey    630380
New Jersey    492276
New Jersey    576567
New Jersey    501226
New Jersey     66083
New Jersey    323444
New Jersey    149265
New Jersey    536499
New Jersey    108692
Name: CENSUS2010POP, dtype: int64
STNAME
New Mexico    662564
New Mexico     65645
New Mexico     27213
New Mexico     48376
New Mexico    209233
New Mexico     53829
New Mexico     29514
New Mexico     64727
New Mexico     25095
New Mexico     71492
New Mexico     63797
New Mexico     40246
New Mexico    131561
New Mexico    130044
New Mexico     29393
New Mexico    144170
New Mexico     32937
New Mexico     76569
Name: CENSUS2010POP, dtype: int64
STNAME
New York     304204
New York      48946
New York    1385108
New York     200600
New York      80317
New York      80026
New York     134905
New York      88830
New York      50477
New York      82128
New York      63096
New York      49336
New York      47980
New York     297488
New York     919040
New York      39370
New York      51599
New York      55531
New York      60079
New York      49221
New York      64519
New York     116229
New York    2504700
New York      27087
New York      65393
New York      73442
New York     744344
New York      50219
New York    1339532
New York    1585873
New York     216469
New York     234878
New York     467026
New York     107931
New York     372813
New York      42883
New York     122109
New York      62259
New York      99710
New York    2230722
New York     159429
New York     468730
New York     311687
New York     111944
New York     219607
New York     154727
New York      32749
New York      35251
New York      98990
New York    1493350
New York      77547
New York      51125
New York     101564
New York     182493
New York      65707
New York      63216
New York      93772
New York     949113
New York      42155
New York      25348
Name: CENSUS2010POP, dtype: int64
STNAME
North Carolina    151131
North Carolina     37198
North Carolina     26948
North Carolina     27281
North Carolina     47759
North Carolina     35190
North Carolina    107431
North Carolina    238318
North Carolina     90912
North Carolina    178011
North Carolina     83029
North Carolina     66469
North Carolina    154358
North Carolina     63505
North Carolina     27444
North Carolina     98078
North Carolina     58098
North Carolina    103505
North Carolina    319431
North Carolina     33920
North Carolina    162878
North Carolina     41240
North Carolina     58505
North Carolina    267587
North Carolina     56552
North Carolina    350670
North Carolina     60619
North Carolina    206086
North Carolina     59916
North Carolina    488406
                   ...
North Carolina     27798
North Carolina     88247
North Carolina     95840
North Carolina    202667
North Carolina    177772
North Carolina    133801
North Carolina     40661
North Carolina     52217
North Carolina     39464
North Carolina    168148
North Carolina    141752
North Carolina     46639
North Carolina    134168
North Carolina     93643
North Carolina    138428
North Carolina     67810
North Carolina     63431
North Carolina     36157
North Carolina     60585
North Carolina     47401
North Carolina     73673
North Carolina     33090
North Carolina    201292
North Carolina     45422
North Carolina    900993
North Carolina     51079
North Carolina    122623
North Carolina     69340
North Carolina     81234
North Carolina     38406
Name: CENSUS2010POP, Length: 74, dtype: int64
STNAME
North Dakota     81308
North Dakota    149778
North Dakota     66861
North Dakota     27471
North Dakota     61675
Name: CENSUS2010POP, dtype: int64
STNAME
Ohio      28550
Ohio     106331
Ohio      53139
Ohio     101497
Ohio      64757
Ohio      45949
Ohio      70400
Ohio      44846
Ohio     368130
Ohio      28836
Ohio      40097
Ohio     138333
Ohio     197363
Ohio      42040
Ohio     107841
Ohio      36901
Ohio      43784
Ohio    1280122
Ohio      52959
Ohio      39037
Ohio     174214
Ohio      77079
Ohio     146156
Ohio      29030
Ohio    1163414
Ohio      42698
Ohio      30934
Ohio      93389
Ohio     161573
Ohio      40087
         ...
Ohio     172332
Ohio      40814
Ohio     102506
Ohio     535153
Ohio      34827
Ohio      86074
Ohio      41428
Ohio      36058
Ohio      55698
Ohio      28709
Ohio     161419
Ohio      42270
Ohio      34499
Ohio     124475
Ohio      78064
Ohio      60944
Ohio      79499
Ohio      56745
Ohio      49423
Ohio     375586
Ohio     541781
Ohio     210312
Ohio      92582
Ohio      52300
Ohio      28744
Ohio     212693
Ohio      61778
Ohio     114520
Ohio      37642
Ohio     125488
Name: CENSUS2010POP, Length: 80, dtype: int64
STNAME
Oklahoma     42416
Oklahoma     29600
Oklahoma    115541
Oklahoma     47557
Oklahoma     46987
Oklahoma    255755
Oklahoma    124098
Oklahoma     69967
Oklahoma     27469
Oklahoma     41487
Oklahoma     60580
Oklahoma     27576
Oklahoma     52431
Oklahoma     26446
Oklahoma     46562
Oklahoma     50384
Oklahoma     34273
Oklahoma     41848
Oklahoma     34506
Oklahoma     33151
Oklahoma     41259
Oklahoma     70990
Oklahoma    718633
Oklahoma     40069
Oklahoma     47472
Oklahoma     31848
Oklahoma     77350
Oklahoma     45837
Oklahoma     37492
Oklahoma     69442
Oklahoma     86905
Oklahoma     25482
Oklahoma     42391
Oklahoma     45048
Oklahoma    603403
Oklahoma     73085
Oklahoma     50976
Name: CENSUS2010POP, dtype: int64
STNAME
Oregon     85579
Oregon    375992
Oregon     37039
Oregon     49351
Oregon     63043
Oregon    157733
Oregon    107667
Oregon    203206
Oregon     82713
Oregon     66380
Oregon    351715
Oregon     46034
Oregon    116672
Oregon     31313
Oregon    315335
Oregon    735334
Oregon     75403
Oregon     25250
Oregon     75889
Oregon     25748
Oregon     25213
Oregon    529710
Oregon     99193
Name: CENSUS2010POP, dtype: int64
STNAME
Pennsylvania     101407
Pennsylvania    1223348
Pennsylvania      68941
Pennsylvania     170539
Pennsylvania      49762
Pennsylvania     411442
Pennsylvania     127089
Pennsylvania      62622
Pennsylvania     625249
Pennsylvania     183862
Pennsylvania     143679
Pennsylvania      65249
Pennsylvania     153990
Pennsylvania     498886
Pennsylvania      39988
Pennsylvania      81642
Pennsylvania      39238
Pennsylvania      67295
Pennsylvania      88765
Pennsylvania     235406
Pennsylvania     268100
Pennsylvania     558979
Pennsylvania      31946
Pennsylvania     280566
Pennsylvania     136606
Pennsylvania     149618
Pennsylvania      38686
Pennsylvania      45913
Pennsylvania      88880
Pennsylvania      45200
Pennsylvania     214437
Pennsylvania     519445
Pennsylvania      91108
Pennsylvania     133568
Pennsylvania     349497
Pennsylvania     320918
Pennsylvania     116111
Pennsylvania      43450
Pennsylvania     116638
Pennsylvania      46682
Pennsylvania     169842
Pennsylvania     799874
Pennsylvania     297735
Pennsylvania      94528
Pennsylvania      45969
Pennsylvania    1526006
Pennsylvania      57369
Pennsylvania     148289
Pennsylvania      39702
Pennsylvania      77742
Pennsylvania      43356
Pennsylvania      41981
Pennsylvania      44947
Pennsylvania      54984
Pennsylvania      41815
Pennsylvania     207820
Pennsylvania      52822
Pennsylvania     365169
Pennsylvania      28276
Pennsylvania     434972
Name: CENSUS2010POP, dtype: int64
STNAME
Rhode Island     49875
Rhode Island    166158
Rhode Island     82888
Rhode Island    626667
Rhode Island    126979
Name: CENSUS2010POP, dtype: int64
STNAME
South Carolina     25417
South Carolina    160099
South Carolina    187126
South Carolina    162233
South Carolina    177843
South Carolina    350209
South Carolina     55342
South Carolina     33140
South Carolina     46734
South Carolina     34971
South Carolina     38892
South Carolina     68681
South Carolina     32062
South Carolina    136555
South Carolina     26985
South Carolina    136885
South Carolina     60158
South Carolina    451225
South Carolina     69661
South Carolina    269291
South Carolina     61697
South Carolina     76652
South Carolina     66537
South Carolina    262391
South Carolina     33062
South Carolina     28933
South Carolina     37508
South Carolina     74273
South Carolina     92501
South Carolina    119224
South Carolina    384504
South Carolina    284307
South Carolina    107456
South Carolina     28961
South Carolina     34423
South Carolina    226073
Name: CENSUS2010POP, dtype: int64
STNAME
South Dakota     31965
South Dakota     36531
South Dakota     27227
South Dakota     44828
South Dakota     25434
South Dakota    169468
South Dakota    100948
Name: CENSUS2010POP, dtype: int64
STNAME
Tennessee     75129
Tennessee     45058
Tennessee    123010
Tennessee     98963
Tennessee     40716
Tennessee     28522
Tennessee     57424
Tennessee     39105
Tennessee     32213
Tennessee     35662
Tennessee     52796
Tennessee     56053
Tennessee    626681
Tennessee     49666
Tennessee     38335
Tennessee     38413
Tennessee     41052
Tennessee     49683
Tennessee     29485
Tennessee     68831
Tennessee     62544
Tennessee    336463
Tennessee     27253
Tennessee     26026
Tennessee     56833
Tennessee     27769
Tennessee     32330
Tennessee     51407
Tennessee    432226
Tennessee     27815
Tennessee     41869
Tennessee     33361
Tennessee     48556
Tennessee     52266
Tennessee     26075
Tennessee     98294
Tennessee     28237
Tennessee     30617
Tennessee     80956
Tennessee     44519
Tennessee    172331
Tennessee     31807
Tennessee     72321
Tennessee     31809
Tennessee     54181
Tennessee     66283
Tennessee    262604
Tennessee     89889
Tennessee    927644
Tennessee    156823
Tennessee    160645
Tennessee     61081
Tennessee     39839
Tennessee    122979
Tennessee     35021
Tennessee     25841
Tennessee    183182
Tennessee    113993
Name: CENSUS2010POP, dtype: int64
STNAME
Texas      58458
Texas      86771
Texas      44911
Texas      28417
Texas      74171
Texas      31861
Texas     310235
Texas    1714773
Texas      92565
Texas     313166
Texas     194851
Texas      38106
Texas      42750
Texas      38066
Texas     406220
Texas      30464
Texas      35096
Texas      50845
Texas     782341
Texas     108472
Texas      38437
Texas      75388
Texas    2368139
Texas     662614
Texas     137130
Texas     149610
Texas     800647
Texas      37890
Texas      33915
Texas     585375
          ...
Texas      45413
Texas     121073
Texas     120725
Texas      78337
Texas      53330
Texas      26384
Texas      64804
Texas      25448
Texas     209714
Texas      60968
Texas    1809034
Texas     131506
Texas      32334
Texas     110224
Texas    1024266
Texas      39309
Texas      26405
Texas      48879
Texas      52579
Texas      86793
Texas      67861
Texas      43205
Texas      33718
Texas     250304
Texas      41280
Texas     131500
Texas     422679
Texas      42918
Texas      59127
Texas      41964
Name: CENSUS2010POP, Length: 100, dtype: int64
STNAME
Utah      49975
Utah     112656
Utah     306479
Utah      46163
Utah    1029655
Utah      27822
Utah      36324
Utah      58218
Utah      32588
Utah     516564
Utah     138115
Utah     231236
Name: CENSUS2010POP, dtype: int64
STNAME
Vermont     36821
Vermont     37125
Vermont     31227
Vermont    156545
Vermont     47746
Vermont     28936
Vermont     27231
Vermont     61642
Vermont     59534
Vermont     44513
Vermont     56670
Name: CENSUS2010POP, dtype: int64
STNAME
Virginia      33164
Virginia      98970
Virginia      32353
Virginia     207627
Virginia      73750
Virginia      68676
Virginia      33148
Virginia      54842
Virginia      28545
Virginia      30042
Virginia     316236
Virginia      46689
Virginia      28001
Virginia    1081726
Virginia      65203
Virginia      25691
Virginia      56159
Virginia      78305
Virginia      36858
Virginia      36241
Virginia      99863
Virginia     306935
Virginia      54151
Virginia      35270
Virginia      67009
Virginia      25587
Virginia     312311
Virginia      33153
Virginia      32727
Virginia      94392
             ...
Virginia      92376
Virginia      76314
Virginia      28897
Virginia      41993
Virginia      32208
Virginia     122397
Virginia     128961
Virginia      45078
Virginia      37575
Virginia      54876
Virginia      41452
Virginia      29235
Virginia      65464
Virginia     139966
Virginia      43475
Virginia     222209
Virginia      43055
Virginia     137436
Virginia      48914
Virginia      75568
Virginia      37821
Virginia     180719
Virginia     242803
Virginia      32420
Virginia      95535
Virginia     204214
Virginia      97032
Virginia      84585
Virginia     437994
Virginia      26203
Name: CENSUS2010POP, Length: 66, dtype: int64
STNAME
Washington     175177
Washington      72453
Washington      71404
Washington     425363
Washington     102410
Washington      38431
Washington      78163
Washington      89120
Washington      72797
Washington      78506
Washington      29872
Washington    1931249
Washington     251133
Washington      40915
Washington      75455
Washington      60699
Washington      41120
Washington     795225
Washington     116901
Washington     713335
Washington     471221
Washington      43531
Washington     252264
Washington      58781
Washington     201140
Washington      44776
Washington     243231
Name: CENSUS2010POP, dtype: int64
STNAME
West Virginia    104169
West Virginia     96319
West Virginia     46039
West Virginia     35480
West Virginia     30676
West Virginia     69099
West Virginia     29211
West Virginia     53498
West Virginia    193063
West Virginia     36743
West Virginia     56418
West Virginia     33107
West Virginia     27324
West Virginia     62264
West Virginia     28212
West Virginia     26839
West Virginia     96189
West Virginia     26233
West Virginia     44443
West Virginia     33520
West Virginia     55486
West Virginia     78859
West Virginia     29405
West Virginia     42481
West Virginia     86956
Name: CENSUS2010POP, dtype: int64
STNAME
Wisconsin     45870
Wisconsin    248007
Wisconsin     48971
Wisconsin     62415
Wisconsin     34690
Wisconsin     56833
Wisconsin    488073
Wisconsin     88759
Wisconsin     27785
Wisconsin     44159
Wisconsin     43857
Wisconsin     98736
Wisconsin    101633
Wisconsin     51208
Wisconsin     36842
Wisconsin     83686
Wisconsin     26664
Wisconsin    166426
Wisconsin    114638
Wisconsin     28743
Wisconsin     81442
Wisconsin    134063
Wisconsin     41749
Wisconsin    947735
Wisconsin     44673
Wisconsin     37660
Wisconsin     35998
Wisconsin    176695
Wisconsin     86395
Wisconsin     41019
Wisconsin     44205
Wisconsin     70019
Wisconsin    195408
Wisconsin    160331
Wisconsin     84345
Wisconsin     61976
Wisconsin     41949
Wisconsin    115507
Wisconsin     28816
Wisconsin     29773
Wisconsin    102228
Wisconsin    131887
Wisconsin    389891
Wisconsin     52410
Wisconsin    166994
Wisconsin     74749
Name: CENSUS2010POP, dtype: int64
STNAME
Wyoming    36299
Wyoming    46133
Wyoming    40123
Wyoming    91738
Wyoming    75450
Wyoming    28205
Wyoming    29116
Wyoming    43806
Name: CENSUS2010POP, dtype: int64

In [50]:
# Scales
# 1) Ratio Scale +-/* 
# 2) Interval Scale (O means something e.g in temp or an a compass)
# 3) Ordinal Scale (Grades)
# 4) Nominal Scale(Categorical Data) (Colour)

sdf = pd.DataFrame(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D'],
                  index = ['excellent','excellent','excellent','good','good','good','ok','ok','ok','poor','poor'])
sdf.rename(columns = {0:'Grades'}, inplace= True)
grades = sdf['Grades'].astype('category',
                     categories = ['D','D+','C-','C','C+','B-','B','B+','A-','A','A+'],
                     ordered = True)
print(grades)
#######################################
print(grades >'C')
#######################################
# The astype function changes nominal to ordinal data
s = pd.Series(['Low', 'Low', 'High', 'Medium', 'Low', 'High', 'Low'])
s.astype('category', categories=['Low', 'Medium', 'High'], ordered=True)
#######################################
# The CUT is used for changing interval or ratio data into categorial data 
size  = pd.Series([168, 180, 174, 190, 170, 185, 179, 181, 175, 169, 182, 177, 180, 171])
sizeCategory = pd.cut(size, 3, labels=['Small', 'Medium', 'Large'])
sizeCategory.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
poor         D+
poor          D
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]
excellent     True
excellent     True
excellent     True
good          True
good          True
good          True
ok            True
ok           False
ok           False
poor         False
poor         False
Name: Grades, dtype: bool

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead

0     Small
1    Medium
2     Small
3     Large
4     Small
dtype: category
Categories (3, object): [Small < Medium < Large]

In [58]:
# PIVOT TABLES

pt = pd.read_csv('./CSV Files/cars.csv')
print(pt.head())
pt.pivot_table(values='(kW)', index =['TYPE','YEAR'], columns = 'Make', aggfunc = [np.mean, np.min], margins = True)
# MArginns is True gives you an all column which adds an all function which gives the function of all columns

   YEAR        Make           Model        Size  (kW) Unnamed: 5 TYPE  \
0  2012  MITSUBISHI          i-MiEV  SUBCOMPACT    49         A1    B
1  2012      NISSAN            LEAF    MID-SIZE    80         A1    B
2  2013        FORD  FOCUS ELECTRIC     COMPACT   107         A1    B
3  2013  MITSUBISHI          i-MiEV  SUBCOMPACT    49         A1    B
4  2013      NISSAN            LEAF    MID-SIZE    80         A1    B

   CITY (kWh/100 km)  HWY (kWh/100 km)  COMB (kWh/100 km)  CITY (Le/100 km)  \
0               16.9              21.4               18.7               1.9
1               19.3              23.0               21.1               2.2
2               19.0              21.1               20.0               2.1
3               16.9              21.4               18.7               1.9
4               19.3              23.0               21.1               2.2

   HWY (Le/100 km)  COMB (Le/100 km)  (g/km)  RATING  (km)  TIME (h)
0              2.4               2.1       0     NaN   100         7
1              2.6               2.4       0     NaN   117         7
2              2.4               2.2       0     NaN   122         4
3              2.4               2.1       0     NaN   100         7
4              2.6               2.4       0     NaN   117         7

            mean                                                             \
Make         BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA
TYPE YEAR
B    2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN
     2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000
     2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333
     2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667
     2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000
All        125.0     104.0  107.0  81.0       49.0   80.0  35.0  345.478261

                        amin                                                 \
Make              All    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART
TYPE YEAR
B    2012   64.500000    NaN       NaN    NaN   NaN       49.0   80.0   NaN
     2013  158.444444    NaN       NaN  107.0   NaN       49.0   80.0  35.0
     2014  135.000000    NaN     104.0  107.0   NaN       49.0   80.0  35.0
     2015  181.428571  125.0     104.0  107.0  81.0       49.0   80.0  35.0
     2016  252.263158  125.0     104.0  107.0  81.0       49.0   80.0  35.0
All        190.622642  125.0     104.0  107.0  81.0       49.0   80.0  35.0


Make       TESLA All
TYPE YEAR
B    2012    NaN  49
     2013  270.0  35
     2014  225.0  35
     2015  280.0  35
     2016  283.0  35
All        225.0  35

In [1]:
# DATE FUNCTIONALITY
import pandas as pd
import numpy as np

# TimeStamp
# the index of timestaamp is datetime index
print(pd.Timestamp('9/1/2016 10:05AM'))
print("***********A************")
# Period
print(pd.Period('1/2016')) # MM/YYYY
print(pd.Period('3/5/2016')) # MM/DD/YYYY
print("***********B*************")
# DateTime Index
t1 = pd.Series(list('abc'),[pd.Timestamp('2016-09-01'),pd.Timestamp('2016-09-02'),pd.Timestamp('2016-09-03')])
print(t1) # YYYY-MM-DD
print(type(t1.index))
print("************C************")
# PeriodIndex
t2 = pd.Series(list('def'),[pd.Period('2016-09'),pd.Period('2016-10'),pd.Period('2016-11')])
print(t2)
print(t2.index)
print("************D************")
# Converting to Date Time
d1 = ['2nd June 2013', 'Aug 29 2014', '2015-06-26','7/12/16']
x = np.random.randint(10,100,(4,2))
print(x)
t3 = pd.DataFrame(x, index = d1, columns = ['First', 'Second'])
print(t3)
t3.index = pd.to_datetime(t3.index)
print(t3)
print("*************E***********")
# Time Deltas (The differences within time)
print(pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H'))
# What if we want 9 dates for each sunday starting in Oct 2016
dates = pd.date_range('10-01-2016', periods=9, freq = '2W-SUN')
print(dates)
print("************F************")
df = pd.DataFrame({'Count 1': np.random.randint(10,100,9),
                  'Count 2': np.random.randint(10,100,9)},
                  index = dates)
print(df)
print(df.index.weekday_name)
print("************G************")
print(df.diff()) # This gives the difference of values from the value above it
print("************H************")
print(df.resample('M').mean()) # Find each month ka mean
print(df['2017']) # Find those values which are in 2017
print("************I************")
# Plotting the Time Series
import matplotlib.pyplot as plt; plt.rcdefaults()
df.plot()

2016-09-01 10:05:00
***********A************
2016-01
2016-03-05
***********B*************
2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
************C************
2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object
PeriodIndex(['2016-09', '2016-10', '2016-11'], dtype='period[M]', freq='M')
************D************
[[42 52]
 [77 31]
 [72 67]
 [74 84]]
               First  Second
2nd June 2013     42      52
Aug 29 2014       77      31
2015-06-26        72      67
7/12/16           74      84
            First  Second
2013-06-02     42      52
2014-08-29     77      31
2015-06-26     72      67
2016-07-12     74      84
*************E***********
2016-09-14 11:10:00
DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')
************F************
            Count 1  Count 2
2016-10-02       93       34
2016-10-16       71       52
2016-10-30       81       65
2016-11-13       61       63
2016-11-27       27       76
2016-12-11       61       36
2016-12-25       93       21
2017-01-08       61       64
2017-01-22       36       51
Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')
************G************
            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16    -22.0     18.0
2016-10-30     10.0     13.0
2016-11-13    -20.0     -2.0
2016-11-27    -34.0     13.0
2016-12-11     34.0    -40.0
2016-12-25     32.0    -15.0
2017-01-08    -32.0     43.0
2017-01-22    -25.0    -13.0
************H************
              Count 1    Count 2
2016-10-31  81.666667  50.333333
2016-11-30  44.000000  69.500000
2016-12-31  77.000000  28.500000
2017-01-31  48.500000  57.500000
            Count 1  Count 2
2017-01-08       61       64
2017-01-22       36       51
************I************